* {
    box-sizing: border-box;
    
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1600px;
}

.container{    
    padding:5px 245px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    float: left;
    font-size: 30px; 
    text-transform: uppercase;
    font-family:'Roboto';
    font-weight: 400;
    color:rgb(85, 82, 82);
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 30px 0;
}

.logo a{
    text-decoration: none;
    color:rgb(85, 82, 82);
 }
 
 .logo::first-letter{
     color:#1abc9c;
     font-weight: 900;
 }
 
 .nav{
     padding: 0;
     list-style: none;
     float: right;
     display: inline-block;
     vertical-align: middle;
     padding: 30px 0;
 }  
 
 .nav-link {
     color: rgb(15,1,1);
     font-family: 'Open Sans';
     font-weight: 700;
     font-size: 14px;
     text-transform: uppercase;
     text-decoration: none;
 }
 
 .navigation a:hover{
     color:#1abc9c;
 }
 
 .clearfix {
     display: table;
     content: "";
     clear: both;
   }
 
 
 .navigation {
     padding: 0;
     margin: 0;
 }
 .navigation  li {
     float: left;
     list-style: none;
 }  
 
 .navigation li+li {
     padding-left: 35px;
 }

.image {
    width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/img1.png);
    display: block;
    text-align: center;
}

.image:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); 
}

.button {
    display: block;
    position: absolute;
    top: 0;
    left: 40%; 
    margin: auto;
    transform: translate(-400%); 
    background-color: #1abc9c;
    border: none;
    height: 105px;
    opacity: 0.5;
    width: 105px;
    font-size: 100px;
    color:white; 
}

.right {
    position: absolute;
    transform: translate(500%);
}

.right:hover
.left:hover {
    opacity: 1;
}

.but {
    font-size: 60px;
    display: block;

}

.tours {
    position: relative;
    z-index: 1;
    width: 100%;
    display: table;
}

.slider {
    margin: 0 auto;
    height: auto;
}

.slide h2 {
    display: block;
    font-size:53px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    transform: translateY(-55px);
}

.slide a {  
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 21px;
    transform: translate(-140px, -80px);
}

.select-tour {
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
}

.collection {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    color: #515151;
    font-weight: 700;
    line-height: 1;
    padding: 100px 0 120px;
}

.collection::after{
    margin: 0 auto;
    content: "";
    display: block;
    height: 7px;
    width: 170px;
    background:#1abc9c;
}

.cards {    
    background-color: rgb(233,240,253);
    padding: 0 200px;
}

.card-list{
    overflow: hidden;
    margin: 0 -15px 100px;
}

.card{
    float: left;
    padding: 0 15px;
    margin-bottom: 30px;
    width: 25%;
}

.card a{
    text-decoration: none;
}

.card-item:hover .card-footer{
    background:#1abc9c;
}

.card-img{
    background-color: #e9f0fd;
    height: 280px;
    position: relative;
}

.card-img img{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.card-footer{
    position: relative;
    overflow: hidden;
    color: #ffffff;
    background: #323232;
    font-family: 'Roboto';
    font-weight:700;
    text-decoration: none;
    height: 40px;
}

.card-name{
    text-transform: uppercase;
    position: relative;
    top: 10px;
    left: 15px;
}

.card-price{
    padding: 12px;
    line-height: 1;
    float: right;
    background-color: rgba(255,255,255,0.5);
}

.overlay {
    width: 235px;
    height: 260px;
    margin: 10px;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    padding-top: 40%;
}

.icon1 {
    width: 50px;
    height: 50px;
    border-color: white;
    color: white;
    border-width: 1px;
    font-size: 30px;
    margin: 0%;
    display: flex;
    padding: 11px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, -0.5); 
}

.icon2 {
    width: 50px;
    height: 50px;
    border-color: white;
    color: white;
    border-width: 1px;
    font-size: 30px;
    margin: 0%;
    display: flex;
    padding: 11px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, -0.5);
}

.icon3 { 
    width: 50px;
    height: 50px;
    border-color: white;
    color: white;
    border-width: 1px;
    font-size: 30px;
    margin: 0%;
    display: flex;
    padding: 11px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, -0.5);
}

.icon4 {
    position: absolute;
    display: flex;
    width: 164px;
    height: 50px;
    top: 58%;
    left: 14%;
    border-width: 1px;
    font-size: 30px;
    color: white;
    background-color: #323232;
    display: flex;
    justify-content: start;                                                                      
}

.text-overlay{
    text-transform: uppercase;
    position: absolute;
    padding-left: 30%;
    line-height: 2;
    font-family: "Open Sans";
    font-size: 14px;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
    background:#1abc9c;
}

.card:hover .overlay{
    opacity: 1;
}

.footer{
    height: 80px;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    font-family: 'Open Sans';
    background-color: #323232;
}
.footer-text1 {
    color: white;
}
.footer-text2 {
    color:#1abc9c ;
}