html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 0;
}

.header-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 20px;
}

.user-box {
    margin-bottom: 130px;
}

.user-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-item {
    display: inline-block;
    vertical-align: middle;
}

.user-button {
    padding: 9px 16px;
    border-radius: 16px;
    background: transparent;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 14px;
}

.user-button:hover {
    border-radius: 16px;
    border: solid 2px white;
}


.banner {
    height: 540px;
    background-image: url(../img/mobile/background.png);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.holiday {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(65px);
}

.title1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.title2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-top: 0;
}

.holiday-text {
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 18px;
}

.holiday-link {
    display: flex;
    justify-content: center;
    background-color: rgb(255,78,80);
    padding: 12px 45px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 14px;
}

.container-partner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.partner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    width: 320px;
    padding: 15px;
}

.container-banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.photo-li {
    margin-bottom: 30px;
    text-align: center;
    width: 220px;
}

.title-photo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.photo-container {
    position: relative;
}

.photo-container::after {
    display: block;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 3px white;
    right: 0;
    color: aquamarine;
    bottom: 0;
    margin-right: 18%;
}

.n1::after {
    background-image: url(../img/mobile/icon1.png);
    background-color: #ff4e50;
}

.n2::after {
    background-image: url(../img/mobile/icon2.png);
    background-color: #ffa507;
}

.n3::after {
    background-image: url(../img/mobile/icon3.png);
    background-color: #1cd7ad;
}

.n4::after {
    background-image: url(../img/mobile/icon4.png);
    background-color: #4e73db;
}

.photo-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.photo-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.other-partners {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding: 12px 35px;
    border-radius: 30px;
    border: solid 3px #ff4e50;
    background-color: rgb(255,255,255);
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.other-partners a {
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

button,
button:active,
button:focus {
    outline: none;
}

@media(min-width: 768px) {
    .header-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .logo {
        margin-bottom: 135px;
    }
    .user {
        margin-bottom: 0;
    }
    .img {
        height: auto;
        vertical-align: top;
        max-width: 100%;
    }
    .banner {
        height: 700px;
        background-image: url(../img/tablet/background.png);
        background-color: black;
    }
    .container-partner {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .partner {
        padding: 15px;
        width: 600px;
    }
    .photo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .photo-li {
        margin-bottom: 60px;
        text-align: center;
        margin-right: 20px;
    }
}

@media(min-width:1400px) {
    .container {
        width: 950px;
        margin: 0 auto;
    }
    .header-row {
        padding: 0 30px;
    }
    .title1 {
        font-size: 52px;
    }
    .title2 {
        font-size: 52px;
    }
    .banner {
        background-image: url(../img/desktop/background.png);
        background-color: black;
    }
    .photo {
        display: flex;
        flex-direction: row;
    }
    .title-photo {
        display: flex;
    }
    .container-partner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    .partner {
        padding: 15px;
        width: 1000px;
    }
    .photo-li {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }
    .photo-container::after {
        margin-right: 0%;
        margin-bottom: 0%;
    }