html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 0;
}

.header-row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 20px;
}

.user-box {
    margin-bottom: 130px;
}

.user-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.user-item {
    display: inline-block;
    vertical-align: middle;
}

.user-button {
    padding: 9px 16px;
    border-radius: 16px;
    background: transparent;
    border-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 14px;
}

.user-button:hover {
    border-radius: 16px;
    border: solid 2px white;
}

.banner {
    height: 540px;
    background-image: url(../images/backgroundM.png);
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.holiday {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(65px);
}

.title1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.title2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(255,255,255);
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 15px;
}

.holiday-link {
    display: flex;
    justify-content: center;
    background-color: rgb(255,78,80);
    padding: 12px 45px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255,255,255);
    font-weight: 700;
    font-size: 14px;
}

.container-banner {
    display: flex;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: center;
    margin-bottom: 20px;
}

.title-photo {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.photo-content {
    position: relative;
}

.photo-content::after {
    display: block;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 3px white;
    right: 0;
    color: aquamarine;
    bottom: 0;
}

.i1::after {
    background-image: url(../images/icon1.png);
    background-color: #ff4e50;
}

.i2::after {
    background-image: url(../images/icon2.png);
    background-color: #ffa507;
}

.i3::after {
    background-image: url(../images/icon3.png);
    background-color: #1cd7ad;
}

.i4::after {
    background-image: url(../images/icon4.png);
    background-color: #4e73db;
}

.photo-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.photo-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.next-button {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding: 12px 90px;
    border-radius: 30px;
    border: solid 3px #ff4e50;
    background-color: rgb(255,255,255);
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.next-button a {
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.button-cont {
    display: flex;
    justify-content: center;
}

button,
button:active,
button:focus {
    outline: none;
}

@media(min-width: 768px) {
    .header-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .logo {
        margin-bottom: 135px;
    }
    
    .img {
        height: auto;
        vertical-align: top;
        max-width: 100%;
    }

    .title1 {
        font-size: 52px;
    }

    .title2 {
        font-size: 24px;
    }

    .banner {
        height: 700px;
        background-image: url(../images/backgroundT.png);
        background-color: black;
    }
   
    .row {
        margin: 30px 0;
    }

    .photo {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        align-items: center;
        margin-bottom: 20px;
    }

}

@media(min-width:1400px) {

    .banner {
        background-image: url(../images/backgroundD.png);
        background-color: black;
    }
