* {
    box-sizing: border-box
}

.wrapper {
    position: relative;
    width: 100%;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
}

.nav {
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.logo {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: rgb(149,225,211);
}

.navigation {   
    display: flex;
    justify-content: space-between;
    width: 490px;
    text-decoration: none;
    list-style-type: none;
}

.navigation a {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    color: rgb(149,225,211);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation a::after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: rgb(243, 149,149);
    margin-top: 8px;
    visibility: hidden;
}

.navigation a:hover{
    color: rgb(243,149,149);
}

.navigation a:hover::after {
    color: rgb(243,149,149);
    visibility: visible;
}

.article-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.title-top {
    font-family: "Kaushan Script";
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.title-bottom {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.title-bottom::after {
    margin: 0 auto;
    content: "";
    display: block;
    height: 4px;
    width: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(243,149,149);
  }

.servises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.servis {
    display: flex;
    width: 340px;
    margin-bottom: 90px;
    position: relative;
}

.article {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.image {
    padding-top: 20px;
}

.article-name{
    font-family: "montserrat";
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.article-text {
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(182,182,182);
}

.team-text {
    text-align: center;
    margin: 0 150px 100px;
}

.team-list {
    display: flex;
    justify-content: space-between;  
}

.team {
    position: relative;
}

.photo {
    width: 380px; 
    height: 470px;
    position: relative; 
}

.card {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
}

.photo-overlay {
    visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    background: linear-gradient(0deg, rgba(252, 227, 138, 0.75) 0%, rgba(243, 129, 129, 0.75) 100%);
}

.icon {
    height: 55px;
    width: 55px;
    border: none;
    margin-right: 1px;
    background-color: #fce38a;
}

.photo:hover .card {
    transform: translate(-10px, -13px);
    transition-duration: 200ms;
    transition-timing-function: linear;
    box-shadow: 10px 13px 1px 1px rgba(149,225,211,1);
}

.photo:hover .photo-overlay {
    visibility: visible;
}

.icon:hover {
    background-color: #95e1d3;
}

.photo-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.subname {
    display: flex;
    justify-content: center;
    font-family:'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: #555252;
    text-decoration: none;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #e5e5e5;
}

.copy{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
  }
  
.info {
    display: flex;
    align-items: center;
}

.red-copy{
    color: #f6a1a1;
    margin-left: 5px;
}
    
form, input {
    height: 40px;
    line-height: 1;
}
  
  
input[type="submit"] {
    padding: 0 20px;
    width: 150px;
    margin-left: -1px;
    background-color: #95e1d3;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    border: none;
   
}
  
input[type="email"] {
    padding: 0 20px;
    margin-right: -4px;
    width: 230px;
    color: black;
    font-family:'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    border:1px solid #e5e5e5;
}
